 # Introduction to Scikit-Learn (sklearn)
 
 This notebook demonstrate some of the most useful functions of the Scikit-Learn library
 
 What are we're going to cover:
 
 0. An end-to-end Scikit-Learn workflow
 1. Getting the data ready
 2. Choose the right estimator/algorithm for our problems
 3. Fit the model/algorithm and use it to make predictions on our data
 4. Evaluating a model
 5. Improve a model
 6. Save and load a trained model
 7. Putting it all together!

### 0. An end-to-end Scikit-Learn workflow

### 1. Get the data ready

In [16]:
import pandas as pd
import numpy as np
heart_disease = pd.read_csv("../assigments_env/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [12]:
# Create x (features matrix)
X = heart_disease.drop("target", axis=1)

# Create y (labels)
y = heart_disease["target"]

### 2. Choose the right model and hyperparameters

In [10]:
from sklearn.ensemble import RandomForestClassifier  
clf = RandomForestClassifier()

# We'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

### 3. Fit the model to the data

In [14]:
from sklearn.model_selection import train_test_split

# We are gonna use 80% of the data to train and the rest to test.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [15]:
# Asking to the classification model to find the patterns in the training data
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [17]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
214,56,1,0,125,249,1,0,144,1,1.2,1,1,2
105,68,0,2,120,211,0,0,115,0,1.5,1,0,2
192,54,1,0,120,188,0,1,113,0,1.4,1,1,3
248,54,1,1,192,283,0,0,195,0,0.0,2,1,3
283,40,1,0,152,223,0,1,181,0,0.0,2,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,57,1,1,154,232,0,0,164,0,0.0,2,1,2
115,37,0,2,120,215,0,1,170,0,0.0,2,0,2
49,53,0,0,138,234,0,0,160,0,0.0,2,0,2
229,64,1,2,125,309,0,1,131,1,1.8,1,0,3
252,62,0,0,138,294,1,1,106,0,1.9,1,3,2

In [18]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
258,62,0,0,150,244,0,1,154,1,1.4,1,0,2
180,55,1,0,132,353,0,1,132,1,1.2,1,1,3
165,67,1,0,160,286,0,0,108,1,1.5,1,3,2
249,69,1,2,140,254,0,0,146,0,2.0,1,3,3
18,43,1,0,150,247,0,1,171,0,1.5,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,44,1,0,120,169,0,1,144,1,2.8,0,0,1
139,64,1,0,128,263,0,1,105,1,0.2,1,1,3
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2
285,46,1,0,140,311,0,1,120,1,1.8,1,2,3
235,51,1,0,140,299,0,1,173,1,1.6,2,0,3

In [19]:
# Make a prediction with test data
y_preds = clf.predict(X_test) 
y_preds

array([1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0], dtype=int64)

In [20]:
y_test

258    0
180    0
165    0
249    0
18     1
      ..
294    0
139    1
6      1
285    0
235    0
Name: target, Length: 61, dtype: int64

### 4. Evaluate the model on the training data and test data

In [22]:
# Returns the mean accuracy on the given test data and labels
clf.score(X_train, y_train)

1.0

In [23]:
 clf.score(X_test, y_test)

0.7540983606557377

In [25]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.74      0.81      0.77        31
           1       0.78      0.70      0.74        30

    accuracy                           0.75        61
   macro avg       0.76      0.75      0.75        61
weighted avg       0.76      0.75      0.75        61